[submodule "thirdparty/SFML"]
	path = thirdparty/SFML
	url = https://github.com/SFML/SFML
	branch = 2.5.x
[submodule "thirdparty/lua"]
	path = thirdparty/lua
	url = https://github.com/lua/lua
	branch = v5.4.0-patch
[submodule "thirdparty/boost"]
	path = thirdparty/boost
	url = https://github.com/boostorg/boost
	branch = master
